@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('utility.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.logo_text {
  @apply font-semibold font-sans text-[0.7rem] italic bg-gradient-to-r from-pink-600 via-green-700 to-blue-500 bg-clip-text text-transparent
}

.head_text {
  @apply text-red-500 font-semibold font-sans bg-gradient-to-r from-slate-500 to-stone-800 bg-clip-text text-transparent;
}

.nav_text {
  @apply text-[0.8rem] text-gray-600 hover:text-black
}

.zoom_text {
  @apply hover:scale-125 transition-transform duration-200 hover:cursor-default
}

.active_path_nav_text {
  @apply text-black
}

@layer utilities {
  .shadow-custom {
    box-shadow: inset 10px 50px 94px 0 rgba(199, 199, 199, 0.2);
  }
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-custom backdrop-blur p-5;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-600 outline-0;
}

.form_label {
  @apply font-semibold font-serif text-red-950 text-sm
}

.login_button {
  @apply px-5 py-2 mt-5 rounded-md text-sm border-2 border-slate-700 text-slate-700 relative overflow-hidden before:content-[""] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-slate-700 before:transition-all before:duration-500 before:-z-[1] before:-translate-x-[100%] hover:before:translate-x-0 hover:text-white
}

/* .login_button {
  --comment this line @apply px-5 py-2 mt-5 rounded-md text-sm bg-slate-700 text-orange-300 ; 
  --comment this line hover:bg-orange-300 hover:text-slate-700  
  text-decoration: none;
  border: 2px solid darkslategray;
  color: darkslategray;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 1s;
  position: relative;
  overflow: hidden;
}

 .login_button::before{
  @apply content-none bg-orange-300 absolute h-full w-full top-0 left-0 transition-all duration-1000
} 
.login_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkslategray;
  transition: all 0.5s;
  z-index: -1;
  transform: translateX(-100%);
}

.login_button:hover::before {
  transform: translateX(0);
}

.login_button:hover {
  color: white;
} */

.loginBackgroundImage {
  background-image: url('/images/earth1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.loginBackgroundImageDimensions {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
}

.signUpBackground {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  @apply bg-gradient-to-br from-red-200 via-orange-200 to-green-200
}

.signUp_button {
  @apply px-5 py-2 mt-5 rounded-md text-sm border-2 border-purple-700 text-purple-700 relative overflow-hidden before:content-[""] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-purple-700 before:transition-all before:duration-500 before:-z-[1] before:-translate-x-[100%] hover:before:translate-x-0 hover:text-white
}

.card {
  @apply h-full w-1/2 relative transition-all duration-[0.8s] ease-in;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.homeCardFront {
  @apply rounded-full w-full h-full flex items-center justify-center absolute z-[2];
  backface-visibility: hidden;
}

.homeCardFrontImage{
  filter: drop-shadow(10px 10px 10px black);
}

.homeCardBack {
  @apply rounded-full w-full h-full flex items-center justify-center absolute z-[1];
  /* transform: rotateY(180deg); */
}

.homeCardBackImage:hover{
  filter: drop-shadow(10px 10px 10px black);
}

.points {
  display: flex;
}

.points::before {
  content: '\f00c';
  margin-right: 10px;
  font-family: FontAwesome;
}

.AllGroundsGridContainer {
  @apply w-full h-full p-10 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 place-items-center gap-5;
  box-shadow: 5px 5px 20px 10px gray inset,-1px -5px 20px 10px gray inset;/*-0.1px -0.1px 20px black*/
}

.AllGroundsGridItem {
  @apply w-full h-full;
}

.GroundCardsContainer {
  @apply h-80 w-full flex justify-center items-center border-[0.15rem] border-black;
  box-shadow: 10px 10px 20px 5px black;
}

.GroundCards {
  @apply flex flex-col md:px-5 2xl:px-10 justify-center text-left text-white border-[0.1rem] p-3 backdrop-blur-sm bg-black bg-opacity-50
}

.groundcard_text {
  @apply font-serif text-sm
}

.groundcard_text::first-letter {
  text-transform: uppercase;
}

.groundcard_label {
  @apply text-sm whitespace-nowrap font-serif
}

.GroundCard_button{
  @apply text-[0.8rem] p-2 mt-3 border-2 rounded-md bg-gray-600 hover:bg-blue-500
}

.BookGround_button{
  @apply relative text-black p-2 border-2 border-black rounded-md overflow-hidden
}

.BookGround_button::before{
  @apply w-full h-full absolute content-[""] top-0 left-0 bg-green-700 -translate-x-[101%] -z-[1] duration-[0.5s] transition-all ease-in
}

.BookGround_button:hover{
  @apply text-white
}

.BookGround_button::before:hover{
  @apply translate-x-[0%] 
}

.MyBookings_Heading{
  @apply whitespace-nowrap font-bold text-lg font-serif bg-gradient-to-r from-red-500 to-green-400 text-transparent bg-clip-text
}

.MyBookingsCard_Container{
  @apply h-full w-full border-2 border-black;
  box-shadow: 20px 20px 50px black;
}

.MyBookingsCard_form{
  @apply my-3 grid sm:grid-rows-4 gap-5 sm:grid-flow-col text-white backdrop-blur-sm border-2 rounded-md p-3;
  box-shadow: 3px 3px 20px white;
}

.LoadingContainer {
  @apply flex justify-center items-center h-full w-full
}

.LoadingDiv {
  position: relative;
  margin: 10px;
  background-color: transparent;
}

.Loading {
  @apply font-serif font-thin;
  font-size: 50px;
  margin: 0;
  position: relative;
  z-index: 3;
  padding: 20px;
  background-color: #060C1F;
  color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.Loading::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  z-index: -1;
  -webkit-animation-name: yellow-shadow;
  animation-name: yellow-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.Loading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  z-index: -1;
  -webkit-animation-name: cyan-shadow;
  animation-name: cyan-shadow;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@-webkit-keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

