   .addgroundContainer {
       display: grid;
       justify-items: center;
       align-items: center;
       grid-area: mainContainer;
       grid-template-areas:
           'Header Header'
           'FormContents FormContents'
           'FormContents FormContents'
           'FormContents FormContents'
           'FormContents FormContents'
           'FormContents FormContents'
           'Footer Footer';
   }

   .addGroundHeader {
       grid-area: Header;
   }

   .addGroundFormContents {
       grid-area: FormContents;
   }

   .addGroundFooter {
       grid-area: Footer;
   }

   .addGroundFormContents input {
       @apply border-2 border-black rounded-md p-2;
   }

   .addGroundFormContents input[type='file'] {
       @apply border-none
   }

   .addGroundFormContents {
       display: flex;
       max-width: 600px;
       margin: auto;
   }

   .labels,
   .inputs {
       @apply flex flex-col gap-2
   }

   .labels label {
       text-align: right;
       padding: 10px;
       vertical-align: middle;
       margin: 2px;
       white-space: nowrap;
   }

   .inputs input {
       padding: 10px;
   }