.myGroundsDesign{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: 
    'name name name name name name'
    'subcontainer subcontainer subcontainer subcontainer subcontainer subcontainer'
    'subcontainer subcontainer subcontainer subcontainer subcontainer subcontainer'
    'subcontainer subcontainer subcontainer subcontainer subcontainer subcontainer'
    'subcontainer subcontainer subcontainer subcontainer subcontainer subcontainer';
}

.myGroundSubContainer{
    grid-area: subcontainer;
    display: grid;
    grid-template-areas: 
    'details details sidecards sidecards sidecards sidecards'
    'details details sidecards sidecards sidecards sidecards'
    'details details sidecardsbuttons sidecardsbuttons sidecardsbuttons sidecardsbuttons'
    'buttons buttons buttons buttons buttons buttons';
}

.myGroundsName {
    grid-area: name;
}

.myGroundsDetails {
    grid-area: details;
}

.myGroundsSideCards {
    grid-area: sidecards;
    @apply backdrop-blur-lg;
}

.sideCardsButtons{
    grid-area: sidecardsbuttons;
}

.myGroundsButtons {
    grid-area: buttons;
}

.myGroundsSideCardsText{
    @apply w-full text-center text-pretty;
}

.sideCardMainContainer{
   
}

.sideCardContainer{
    @apply border-2 border-white rounded-md border-opacity-70;
    box-shadow: white 3px 3px 10px;
}

.sideCardDesign{
    @apply bg-black bg-opacity-50 text-white flex flex-col justify-center items-center
}

.nextPrevButton{
    @apply border-2 bg-black bg-opacity-75 p-1 pt-0 rounded-full border-orange-600 text-orange-600
}

.nextPrevButton:hover{
    @apply bg-orange-600 border-white text-white
}

.nextPrevButton:disabled{
    @apply text-red-600 border-red-600
}

.nextPrevButton:disabled:hover{
    @apply bg-red-600 text-white border-white cursor-not-allowed
}

.nextPrevButtonText{
    @apply text-xl font-bold align-middle
}

.mainButtons{
    @apply border-2 border-white w-full bg-black bg-opacity-50
}

.deletebutton{
    @apply hover:bg-red-600 hover:text-white 
}

.editbutton{
    @apply hover:bg-blue-600 hover:text-white
}

.addbutton{
    @apply border-white border-2 p-1 rounded-md bg-black bg-opacity-50 hover:bg-green-600 hover:text-white  
}

.refreshbutton{
    @apply border-white border-2 p-1 rounded-md bg-black bg-opacity-50 hover:bg-orange-600 hover:text-white  
}

.firstLetterCapital::first-letter{
    text-transform: capitalize;
}

.myGroundTitle{
    @apply text-lg;
    text-shadow: 2px 2px 10px black,-2px -2px 5px orange;
}

.myGroundInfo{
    @apply text-cyan-200
}